*{padding: 0; margin: 0; box-sizing: border-box;}
body{
    height: 646px;
    background: url('../IMAGES/warmTriangles.png');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 85% 0 85% 0 / 45%;
}
#sideImages{
    
    width: 50%;
    height: auto;
    position: relative;
}
.bottomImage{
    text-align: center;
}
.logInHeader{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    padding-top: 50px;
    padding-left: 50px;
}
.logInLink{
    text-align: center;
    font-size: 28px;
    padding-left: 60px;
    padding-top: 10px;
}
.logInLabel{
    text-align: center;
    font-size: 24px;
}
.signInBox{
    padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background: rgb(116,79,27);
    background: linear-gradient(0deg, rgba(116,79,27,1) 0%, rgba(237,174,174,1) 95%);
	padding-bottom: 20px;
	border: groove #5c7e80;
	border-radius: 10px;
	margin:0 auto;
	margin-top: 20px;
	text-align: center;
	width:400px;
	box-shadow: 0 0 3px #68a4a6;
}
.buttonStyle {
	box-shadow: 0px 0px 0px 2px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:25px;
	border:3px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	padding:6px 22px;
	text-decoration:none;
	text-shadow:-2px 2px 0px #2b665e;
}
.buttonStyle:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.buttonStyle:active {
	position:relative;
	top:1px;
}
.signOutButton{
    padding-right: 30px;
}
.menuHeader{
    padding-top: 20px;
    font-family: Georgia;
}
.clrFieldDiv{
    text-align: center;
    margin: auto;
}
.deleteDiv{
    padding-top: 40px;
    text-align: center;
}
.topTableDiv{
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}
.menuTables{
    font-weight: bold;
    text-align: center;
    border: solid black;
}
.menuTableRows{
    font-weight: bold;
    border: 2px solid black;
}
.menuTableData{
    font-weight: bold;
    border: 2px solid black;
}
.bottomTableDiv{
    text-align: center;
    margin: auto;
    padding-top: 50px;
}
